 <html lang="en">
 <head>
 	<title>About Us</title>
 	<meta charset="utf-8">
 	<meta name="viewport" content="width=device-width, initial-scale=1">
 	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
 	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
 	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
 	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>

<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">



 </head>
 <body>
 	<div style="text-align: center;">
 		<h1>
 		About Us
        <hr>	
 		</h1>

 	</div>

 	<div class="container-fluid">
 		<!-- <h1>Hello World!</h1> -->
 		<!-- <p>Three equal width columns! Try to add a new div with class="col" inside the row class - this will create four equal-width columns.</p> -->
 		<div class="row" style="margin-top:30px ">
 			<div class="col" style="background-color:">
 				<p style="text-align: justify;font-size: 20px;">
 					An Internet forum, or message board, is an online discussion site where people can hold conversations in the form of posted messages.[1] They differ from chat rooms in that messages are often longer than one line of text, and are at least temporarily archived. Also, depending on the access level of a user or the forum set-up, a posted message might need to be approved by a moderator before it becomes visible.

     Forums have a specific set of jargon associated with them; example: a single conversation is called a "thread", or topic.

A discussion forum is hierarchical or tree-like in structure: a forum can contain a number of subforums, each of which may have several topics. Within a forum's topic, each new discussion started is called a thread, and can be replied to by as many people as so wish.

Depending on the forum's settings, users can be anonymous or have to register with the forum and then subsequently log in in order to post messages. On most forums, users do not have to log in to read existing messages.
<br>
<br>
<br><br>
 				</p>
 			</div>
 			<div class="col-md-4" >
 				<%= image_tag "abou_us_img_2.jpg" %>
 			</div>

 		</div>
 	</div>
   
          

<!--Footer-->

<!--/.Footer-->
                                  

 </body>