<footer class="page-footer font-small footer-dark pt-0 top" id="pdf_link">
    <div style="background-color: #6351ce;">
        <div class="container">
            <!--Grid row-->
            <div class="row py-4 d-flex align-items-center">
                <!--Grid column-->
                <div class="col-md-6 col-lg-5 text-center text-md-left mb-4 mb-md-0">
                    <h6 class="mb-0 white-text ">Get connected with us on social networks!</h6>
                </div>
                <!--Grid column-->
                <!--Grid column-->
                <div class="col-md-6 col-lg-7 text-center text-md-right">
                    <!--Facebook-->
                    <a class="fb-ic ml-0">
                        <i class="fa fa-facebook white-text mr-lg-4"> </i>
                    </a>
                    <!--Twitter-->
                    <a class="tw-ic">
                        <i class="fa fa-twitter white-text mr-lg-4"> </i>
                    </a>
                    <!--Google +-->
                    <a class="gplus-ic">
                        <i class="fa fa-google-plus white-text mr-lg-4"> </i>
                    </a>
                    <!--Linkedin-->
                    <a class="li-ic">
                        <i class="fa fa-linkedin white-text mr-lg-4"> </i>
                    </a>
                    <!--Instagram-->
                    <a class="ins-ic">
                        <i class="fa fa-instagram white-text mr-lg-4"> </i>
                    </a>
                </div>
                <!--Grid column-->
            </div>
            <!--Grid row-->
        </div>
    </div>
    <div class="footer-bs" style="background-color: black">
        <div class="container">
            <div class="row">
                <div class="col-md-3 footer-social animated fadeInDown">
                    <h2>Article Forum</h2>
                    <ul class="footer-social animated fadeInDown" style="list-style-type: none;">
                        <li><%= link_to('Terms & Condition', home_terms_condition_path)  %></li>
                    </ul>
                </div>
                <div class="col-md-2 footer-nav animated fadeInUp"></div>
                <div class="col-md-3 footer-social animated fadeInDown top">
                  <h4>Help Us</h4>
                  <ul>
                    <li>
                        <%= link_to 'About Us', home_about_us_path%>  
                    </li>
                    <li>
                        <%= link_to('Register', new_user_registration_path)%>
                    </li>
                    <li>
                        <%= link_to('Login', new_user_session_path )%>
                    </li> 
                </ul>
            </div>
            <div class="col-md-4 footer-social animated fadeInDown top">
                <h4>Contact Us</h4>
                <div class="col-md-6">
                    <ul class="pages">
                        <li ><a href="#" class="fa fa-map-marker"><span style="margin-left: 15px">Indore,(M.P)</span></a></li>
                        <li><a href="#" class="fa fa-envelope"><span style="margin-left: 8px">sikhasolanki770@gmail.com</span></a></li>
                        <li><a href="#" class="fa fa-phone"><span style="margin-left: 11px">+917049286227</span></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-copyright py-3 text-center" style="background-color: black">
        © 2018 Copyright:
        <a href="#" style="color: white"> Articleforum.com </a>
    </div>
</div>
</footer>